<div class="header-real">
 <div class="banner-content">
  <h1>Mes oeuvres</h1>
  <p>Quel plaisir de vous montrer mon travail.</p>
 </div>
</div>


<div class="wrapper padded">
  <div class="container-fluid">
    <div class="row">
      <% data.peinture.each do |video, peinture| %>
       <div class="col-xs-12 col-sm-6 col-md-3">
         <div class="portfolio thumbnail text-center">
          <%= image_tag peinture.titre %>


            <button type="button" class="btn btn-warning btn-lg" data-toggle="modal" data-target="#myModal">
            Agrandir</button><!-- modal -->
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
              <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Mes peintures</h4>
                  </div>
                  <div class="modal-body">
                     <iframe <%= image_tag peinture.titre %> align="middle"></iframe>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Fermé</button>
                </div>
              </div>
            </div>
          </div>
<!-- modal -->
        </div>
      </div>
     <% end %>
    </div>
  </div>
</div>


