<div class="header-real">
 <div class="banner-content">
  <h1>Mes oeuvres</h1>
  <p>Quel plaisir de vous montrer mon travail.</p>
 </div>
</div>








<div class="wrapper padded">
  <div class="container-fluid">
    <div class="row">
      <% data.peinture.each do |video, peinture| %>
       <div class="col-xs-12 col-sm-6 col-md-4">
         <div class="portfolio thumbnail text-center">
          <%= image_tag peinture.titre %>
          <div class="details">
            <p><%= peinture.nom %></p>
            <p><%= peinture.taille %></p>
          </div>
        </div>
      </div>
     <% end %>
    </div>
  </div>
</div>





